<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>132702552365-dambtiocphs2pl68tnbmto8d63tcl1uj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.132702552365-dambtiocphs2pl68tnbmto8d63tcl1uj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>132702552365-ldmosh6p7et3fpeo8cfcjru54t7ou6ke.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDRYyMrUYDpxsHBHzVJdkJB-ei9fhULsHY</string>
	<key>GCM_SENDER_ID</key>
	<string>132702552365</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.refactord.budgetapp</string>
	<key>PROJECT_ID</key>
	<string>budget-app-c90bf</string>
	<key>STORAGE_BUCKET</key>
	<string>budget-app-c90bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:132702552365:ios:f67b616edc3e270f6a93a4</string>
	<key>DATABASE_URL</key>
	<string>https://budget-app-c90bf.firebaseio.com</string>
</dict>
</plist>